In [135]:
import pandas as pd
import numpy as np

In [136]:
h= pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['a','b','c'], index= ['x','y','z'])

In [137]:
h.head()

   a  b  c
x  1  2  3
y  4  5  6
z  7  8  9

In [138]:
hh= h.iloc[0:2,1]

In [139]:
hh.name

'b'

In [140]:
type(hh)

pandas.core.series.Series

### Layout 1

In [141]:
df= pd.read_excel('location.xlsx', sheet_name= 'Layout #1')

In [142]:
locA=df.iloc[0:60]
locB= df.iloc[62:123]
locC=df.iloc[125:186]
locD= df.iloc[188:]

In [158]:
locA.head()

,Unnamed: 0,A-13-S61-P1,Unnamed: 2,A-13-S51-P1,Unnamed: 4,A-13-S41-P1,Unnamed: 6,A-13-S31-P1,Unnamed: 8,A-13-S21-P1,...,Unnamed: 71,A-23-S21-P1,Unnamed: 73,A-23-S31-P1,Unnamed: 75,A-23-S41-P1,Unnamed: 77,A-23-S51-P1,Unnamed: 79,A-23-S61-P1
1,NaN,A-13-S61-P2,NaN,A-13-S51-P2,NaN,A-13-S41-P2,NaN,A-13-S31-P2,NaN,A-13-S21-P2,...,NaN,A-23-S21-P2,NaN,A-23-S31-P2,NaN,A-23-S41-P2,NaN,A-23-S51-P2,NaN,A-23-S61-P2
2,NaN,A-13-S61-P3,NaN,A-13-S51-P3,NaN,A-13-S41-P3,NaN,A-13-S31-P3,NaN,A-13-S21-P3,...,NaN,A-23-S21-P3,NaN,A-23-S31-P3,NaN,A-23-S41-P3,NaN,A-23-S51-P3,NaN,A-23-S61-P3
3,NaN,A-13-S61-P4,NaN,A-13-S51-P4,NaN,A-13-S41-P4,NaN,A-13-S31-P4,NaN,A-13-S21-P4,...,NaN,A-23-S21-P4,NaN,A-23-S31-P4,NaN,A-23-S41-P4,NaN,A-23-S51-P4,NaN,A-23-S61-P4
4,NaN,A-13-S61-P5,NaN,A-13-S51-P5,NaN,A-13-S41-P5,NaN,A-13-S31-P5,NaN,A-13-S21-P5,...,NaN,A-23-S21-P5,NaN,A-23-S31-P5,NaN,A-23-S41-P5,NaN,A-23-S51-P5,NaN,A-23-S61-P5
5,NaN,A-13-S61-P6,NaN,A-13-S51-P6,NaN,A-13-S41-P6,NaN,A-13-S31-P6,NaN,A-13-S21-P6,...,NaN,A-23-S21-P6,NaN,A-23-S31-P6,NaN,A-23-S41-P6,NaN,A-23-S51-P6,NaN,A-23-S61-P6

In [157]:
df.columns

Index(['Unnamed: 0', 'A-13-S61-P1', 'Unnamed: 2', 'A-13-S51-P1', 'Unnamed: 4',
       'A-13-S41-P1', 'Unnamed: 6', 'A-13-S31-P1', 'Unnamed: 8', 'A-13-S21-P1',
       'Unnamed: 10', 'A-13-S11-P1', 'Unnamed: 12', 'A-12-S71-P1',
       'Unnamed: 14', 'A-12-S61-P1', 'Unnamed: 16', 'A-12-S51-P1',
       'Unnamed: 18', 'A-12-S41-P1', 'Unnamed: 20', 'A-12-S31-P1',
       'Unnamed: 22', 'A-12-S21-P1', 'Unnamed: 24', 'A-12-S11-P1',
       'Unnamed: 26', 'A-11-S71-P1', 'Unnamed: 28', 'A-11-S61-P1',
       'Unnamed: 30', 'A-11-S51-P1', 'Unnamed: 32', 'A-11-S41-P1',
       'Unnamed: 34', 'A-11-S31-P1', 'Unnamed: 36', 'A-11-S21-P1',
       'Unnamed: 38', 'A-11-S11-P1', 'Unnamed: 40', 'Unnamed: 41',
       'A-21-S11-P1', 'Unnamed: 43', 'A-21-S21-P1', 'Unnamed: 45',
       'A-21-S31-P1', 'Unnamed: 47', 'A-21-S41-P1', 'Unnamed: 49',
       'A-21-S51-P1', 'Unnamed: 51', 'A-21-S61-P1', 'Unnamed: 53',
       'A-21-S71-P1', 'Unnamed: 55', 'A-22-S11-P1', 'Unnamed: 57',
       'A-22-S21-P1', 'Unnamed: 59', 'A-22-S31-P1', 'Unnamed: 61',
       'A-22-S41-P1', 'Unnamed: 63', 'A-22-S51-P1', 'Unnamed: 65',
       'A-22-S61-P1', 'Unnamed: 67', 'A-22-S71-P1', 'Unnamed: 69',
       'A-23-S11-P1', 'Unnamed: 71', 'A-23-S21-P1', 'Unnamed: 73',
       'A-23-S31-P1', 'Unnamed: 75', 'A-23-S41-P1', 'Unnamed: 77',
       'A-23-S51-P1', 'Unnamed: 79', 'A-23-S61-P1'],
      dtype='object')

In [144]:
label=[]
n=0
for i in df.columns:
    if '-' in i:
        x= int(i[6])
        y= i[2:4]+'-S'+str(x)
        label.append(str(y)) 
    else:
        label.append(str(n))
    n+=1

def format(x,s):
    y=x
    new=[]
    lab=[]
    if s=='A':
        for i in y.columns:
            if '-' in i:
                new.append(i)
            else:
                new.append('blank')
        y.loc[-1]= new
        y.index= y.index + 1
        y= y.sort_index()
    
    for j in label:
        if '-' in j:
            lab.append(s+'-'+j)
        else:
            lab.append('goPingo'+j)
    y.columns=lab
    z= y.fillna('blank')
    return z

In [145]:
dffa=format(locA,'A')
dffb=format(locB, 'B')
dffc= format(locC, 'C')
dffd= format(locD, 'D')

C:\Users\12mik\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [146]:
def construct(data):
    q= []
    for i in data.columns:
        q.append(data[i])
    df= pd.DataFrame(q).T
    return df

In [147]:
dfa= construct(dffa)
dfb= construct(dffb)
dfc= construct(dffc)
dfd= construct(dffd)

In [156]:
dfa.head()

,goPingo0,A-13-S6,goPingo2,A-13-S5,goPingo4,A-13-S4,goPingo6,A-13-S3,goPingo8,A-13-S2,...,goPingo71,A-23-S2,goPingo73,A-23-S3,goPingo75,A-23-S4,goPingo77,A-23-S5,goPingo79,A-23-S6
0,blank,A-13-S61-P1,blank,A-13-S51-P1,blank,A-13-S41-P1,blank,A-13-S31-P1,blank,A-13-S21-P1,...,blank,A-23-S21-P1,blank,A-23-S31-P1,blank,A-23-S41-P1,blank,A-23-S51-P1,blank,A-23-S61-P1
1,blank,A-13-S61-P2,blank,A-13-S51-P2,blank,A-13-S41-P2,blank,A-13-S31-P2,blank,A-13-S21-P2,...,blank,A-23-S21-P2,blank,A-23-S31-P2,blank,A-23-S41-P2,blank,A-23-S51-P2,blank,A-23-S61-P2
2,blank,A-13-S61-P3,blank,A-13-S51-P3,blank,A-13-S41-P3,blank,A-13-S31-P3,blank,A-13-S21-P3,...,blank,A-23-S21-P3,blank,A-23-S31-P3,blank,A-23-S41-P3,blank,A-23-S51-P3,blank,A-23-S61-P3
3,blank,A-13-S61-P4,blank,A-13-S51-P4,blank,A-13-S41-P4,blank,A-13-S31-P4,blank,A-13-S21-P4,...,blank,A-23-S21-P4,blank,A-23-S31-P4,blank,A-23-S41-P4,blank,A-23-S51-P4,blank,A-23-S61-P4
4,blank,A-13-S61-P5,blank,A-13-S51-P5,blank,A-13-S41-P5,blank,A-13-S31-P5,blank,A-13-S21-P5,...,blank,A-23-S21-P5,blank,A-23-S31-P5,blank,A-23-S41-P5,blank,A-23-S51-P5,blank,A-23-S61-P5

In [148]:
dictionary= {'A': dfa, 'B': dfb, 'C':dfc, 'D':dfd}

In [149]:
dictionary['A']['A-13-S6'].values

array(['A-13-S61-P1', 'A-13-S61-P2', 'A-13-S61-P3', 'A-13-S61-P4',
       'A-13-S61-P5', 'A-13-S61-P6', 'A-13-S61-P7', 'A-13-S61-P8',
       'A-13-S61-P9', 'A-13-S61-P10', 'A-13-S61-P11', 'A-13-S61-P12',
       'A-13-S61-P13', 'A-13-S61-P14', 'A-13-S61-P15', 'A-13-S61-P16',
       'A-13-S61-P17', 'A-13-S61-P18', 'A-13-S61-P19', 'A-13-S61-P20',
       'A-13-S62-P21', 'A-13-S62-P22', 'A-13-S62-P23', 'A-13-S62-P24',
       'A-13-S62-P25', 'A-13-S62-P26', 'A-13-S62-P27', 'A-13-S62-P28',
       'A-13-S62-P29', 'A-13-S62-P30', 'blank', 'A-13-S62-P31',
       'A-13-S62-P32', 'A-13-S62-P33', 'A-13-S62-P34', 'A-13-S62-P35',
       'A-13-S62-P36', 'A-13-S62-P37', 'A-13-S62-P38', 'A-13-S62-P39',
       'A-13-S62-P40', 'A-13-S63-P41', 'A-13-S63-P42', 'A-13-S63-P43',
       'A-13-S63-P44', 'A-13-S63-P45', 'A-13-S63-P46', 'A-13-S63-P47',
       'A-13-S63-P48', 'A-13-S63-P49', 'A-13-S63-P50', 'A-13-S63-P51',
       'A-13-S63-P52', 'A-13-S63-P53', 'A-13-S63-P54', 'A-13-S63-P55',
       'A-13-S63-P56', 'A-13-S63-P57', 'A-13-S63-P58', 'A-13-S63-P59',
       'A-13-S63-P60'], dtype=object)

In [150]:
test= ['2A-2A-11-S63-P47', '2A-6C-23-S32-P35']

Sorting Algorithm. We will also need to sort data into proper layout. This should be done externally, as filtering within function will increase execution time.

In [151]:
def loc(x,dataframe):
    for j in dataframe:
        if j in x:
            return j

In [152]:
def map(z):
    da=dfa
    db=dfb
    dc=dfc
    dd=dfd
    dic={'A':da, 'B':db, 'C':dc, 'D':dd}
    for i in z:
        inverter= i[4]
        in_map= dic[inverter]
        column= loc(i,in_map)
        in_map[column].values[in_map[column].tolist().index(i[4:])]='XX'+i[4:]
    return [da,db,dc,dd]

In [153]:
s= map(test)

In [154]:
s[0]['A-11-S6'].values

array(['A-11-S61-P1', 'A-11-S61-P2', 'A-11-S61-P3', 'A-11-S61-P4',
       'A-11-S61-P5', 'A-11-S61-P6', 'A-11-S61-P7', 'A-11-S61-P8',
       'A-11-S61-P9', 'A-11-S61-P10', 'A-11-S61-P11', 'A-11-S61-P12',
       'A-11-S61-P13', 'A-11-S61-P14', 'A-11-S61-P15', 'A-11-S61-P16',
       'A-11-S61-P17', 'A-11-S61-P18', 'A-11-S61-P19', 'A-11-S61-P20',
       'A-11-S62-P21', 'A-11-S62-P22', 'A-11-S62-P23', 'A-11-S62-P24',
       'A-11-S62-P25', 'A-11-S62-P26', 'A-11-S62-P27', 'A-11-S62-P28',
       'A-11-S62-P29', 'A-11-S62-P30', 'blank', 'A-11-S62-P31',
       'A-11-S62-P32', 'A-11-S62-P33', 'A-11-S62-P34', 'A-11-S62-P35',
       'A-11-S62-P36', 'A-11-S62-P37', 'A-11-S62-P38', 'A-11-S62-P39',
       'A-11-S62-P40', 'A-11-S63-P41', 'A-11-S63-P42', 'A-11-S63-P43',
       'A-11-S63-P44', 'A-11-S63-P45', 'A-11-S63-P46', 'XXA-11-S63-P47',
       'A-11-S63-P48', 'A-11-S63-P49', 'A-11-S63-P50', 'A-11-S63-P51',
       'A-11-S63-P52', 'A-11-S63-P53', 'A-11-S63-P54', 'A-11-S63-P55',
       'A-11-S63-P56', 'A-11-S63-P57', 'A-11-S63-P58', 'A-11-S63-P59',
       'A-11-S63-P60'], dtype=object)

In [155]:
s[2]['C-23-S3'].values

array(['C-23-S31-P1', 'C-23-S31-P2', 'C-23-S31-P3', 'C-23-S31-P4',
       'C-23-S31-P5', 'C-23-S31-P6', 'C-23-S31-P7', 'C-23-S31-P8',
       'C-23-S31-P9', 'C-23-S31-P10', 'C-23-S31-P11', 'C-23-S31-P12',
       'C-23-S31-P13', 'C-23-S31-P14', 'C-23-S31-P15', 'C-23-S31-P16',
       'C-23-S31-P17', 'C-23-S31-P18', 'C-23-S31-P19', 'C-23-S31-P20',
       'C-23-S32-P21', 'C-23-S32-P22', 'C-23-S32-P23', 'C-23-S32-P24',
       'C-23-S32-P25', 'C-23-S32-P26', 'C-23-S32-P27', 'C-23-S32-P28',
       'C-23-S32-P29', 'C-23-S32-P30', 'blank', 'C-23-S32-P31',
       'C-23-S32-P32', 'C-23-S32-P33', 'C-23-S32-P34', 'XXC-23-S32-P35',
       'C-23-S32-P36', 'C-23-S32-P37', 'C-23-S32-P38', 'C-23-S32-P39',
       'C-23-S32-P40', 'C-23-S33-P41', 'C-23-S33-P42', 'C-23-S33-P43',
       'C-23-S33-P44', 'C-23-S33-P45', 'C-23-S33-P46', 'C-23-S33-P47',
       'C-23-S33-P48', 'C-23-S33-P49', 'C-23-S33-P50', 'C-23-S33-P51',
       'C-23-S33-P52', 'C-23-S33-P53', 'C-23-S33-P54', 'C-23-S33-P55',
       'C-23-S33-P56', 'C-23-S33-P57', 'C-23-S33-P58', 'C-23-S33-P59',
       'C-23-S33-P60'], dtype=object)